*,
:before,
:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:where(ul, ol):where([class]) {
	padding-left: 0
}

body,
:where(blockquote, figure):where([class]) {
	margin: 0
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
	margin-block: 0
}

:where(dd[class]) {
	margin-left: 0
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none
}

:where(ul[class]) {
	list-style: none
}

:where(address[class]) {
	font-style: normal
}

img,
video {
	display: block;
	height: auto
}

input,
textarea,
select,
button {
	font: inherit
}

ul li,
ol li {
	list-style: none;
}

html {
	height: 100%;
	scrollbar-gutter: stable
}

html,
:has(:target) {
	scroll-behavior: smooth
}

body {
	min-height: 100%;
}

a:where([class]) {
	display: inline-flex
}

button,
label {
	cursor: pointer
}

svg * {
	transition-property: fill, stroke
}

:where(table) {
	border-collapse: collapse;
	border-color: currentColor
}

@media (prefers-reduced-motion: reduce) {
	*,
	:before,
	:after {
		animation-duration: .01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: .01ms !important;
		scroll-behavior: auto !important
	}
}

/* breadcrumbs */

.breadcrumbs.section {
	padding-top: 27px;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 21px;
	display: flex;
	gap: 20px;
}

.breadcrumbs .breadcrumbs__item {
	display: flex;
}

.breadcrumbs .breadcrumbs__item:not(:first-child) a:before,
.breadcrumbs .breadcrumbs__item.active:before {
	content: url("data:image/svg+xml;charset=UTF-8, %3csvg width='8' height='9' viewBox='0 0 8 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.36722 4.39307L-0.000407219 8.78613L5.03081 8.78613L7.39844 4.39307L5.03081 5.51506e-06L-0.000406451 5.07522e-06L2.36722 4.39307Z' fill='%23C9C9C9'/%3e%3c/svg%3e ");
	margin-right: 20px;
}

.breadcrumbs .breadcrumbs__item.active {
    font-weight: 600;
}

@media(max-width: 576px) {
	.breadcrumbs {
		font-size: 16px;
		line-height: 20px;
	}
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    border: 2px solid transparent;
    border-radius: 50px;
    background-image: 
        linear-gradient(#ffffff, #ffffff), 
        linear-gradient(90deg, var(--color-accent),  var(--color-accent-dark));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: block;
    padding: 11px 34px;
    color: var(--color-black);
    width: fit-content;
}

.clip-big {
    clip-path: polygon(
        66px 0,
        100% 0,
        100% calc(100% - 38px),
        calc(100% - 66px) 100%,
        0 100%,
        0 38px
    );
}

.clip-small {
    clip-path: polygon(
        33px 0,
        100% 0,
        100% calc(100% - 16px),
        calc(100% - 33px) 100%,
        0 100%,
        0 16px
    );
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/Inter24pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.hidden {
    opacity: 0!important;
}

:root {
	--color-white: #FFFFFF;
    --color-black: #000000;

    --color-accent: #FF2A00;
    --color-accent-dark: #C12814;

    --color-blue: #62A8B1;
}

body {
	font-family: 'Manrope';
    font-weight: 500;
}

.container {
    max-width: 1443px;
    padding-inline: 15px;
    margin: 0 auto;
}

.section {
    padding: 35px 0;
}

.section h2 {
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 46px;
}

.section__title {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__title h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    font-family: 'Unbounded';
    font-weight: 500;
}

.section__more a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    padding-right: 20px;
    text-decoration: underline;
    padding-right: 34px;
    display: block;
}

.section__more a:hover {
    text-decoration: none;
}

.section__more a:before {
    background: url('../images/right_mini.svg') no-repeat center center;
    content: '';
    width: 16px;
    height: 16px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.section__more a:hover:before {
    animation: moveRight 0.5s ease-in-out;
}

@keyframes moveRight {
  0% {
    right: 0;
  }
  50% {
    right: 5px;
  }
  100% {
    right: 0; 
  }
}

/* banner */

.button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    cursor: pointer;
    transition: opacity 1.5s ease;
}

.button-play img {
    transition: transform 0.5s ease;
}

.button-play img:hover {
    transform: scale(1.2);
}

.banner__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.banner__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner {
    position: relative;
    filter: drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.3));
    height: 670px;
}

.--home.banner {
    padding-bottom: 0;
}

.banner__inner {
    background: url('../images/banner.png') no-repeat center center;
    background-size: cover;
    position: relative;
    height: 100%;
    z-index: 8;
    transition: opacity 1.5s ease;
}

.--home.banner .banner__inner {
    margin-bottom: 65px;
}

.banner__inner:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    content: '';
}

.banner__inner > div {
    z-index: 9;
}

.banner__inner {
    display: flex;
    padding: 60px;
    color: var(--color-white);
}

.banner__inner-content {
    margin-top: auto;
}

.banner__inner .banner__inner-title {
    font-family: 'Unbounded';
    font-size: 50px;
    line-height: 70px;
    text-transform: uppercase;
}

.banner__inner .banner__inner-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.banner__message {
    background-color: #606060;
    background-image: url('../images/banner_bg.png');
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 38px 27px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    max-width: 530px;
    position: absolute;
    bottom: -65px;
    right: 65px;
}

.banner__message p {
    margin-bottom: 22px;
}

.banner__message p b {
    font-weight: 700;
}

.banner__message p:last-child {
    margin-bottom: 0;
}

/* features */

.features {
    background: url('../images/features.png') no-repeat center right;
}

.features__list {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 0;
    width: fit-content;
}

.features__list .features__item:nth-child(1) {
    grid-column-start: 1;
    grid-row-start: 1;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, var(--color-accent),  var(--color-accent-dark)) 1;
}

.features__list .features__item:nth-child(2) {
    border-left: 1px solid;
    border-image: linear-gradient(90deg, var(--color-accent),  var(--color-accent-dark)) 1;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row: span 2;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: baseline;
    padding: 10px 52px 10px 56px;
}

.features__list .features__item:nth-child(3) {
    grid-column-start: 1;
    grid-row-start: 2;
}

.features__list .features__item {
    display: flex;
    gap: 30px;
    padding: 21px 52px 22px 37px;
    align-items: center;
    letter-spacing: 0;
}

.features__list .features__item .features__item-number {
    font-family: 'Unbounded';
    font-weight: bold;
    font-size: 110px;
    line-height: 154px;
    color: var(--color-accent);
    min-width: 150px;
    display: flex;
    justify-content: center;
    gap: 23px;
    align-items: center;
}

.features__list .features__item .features__item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.features__list .features__item:nth-child(2) .features__item-text {
    line-height: 24px;
}

.features__list .features__item:nth-child(2) .features__item-number span:first-child {
    font-size: 130px;
}

.features__list .features__item:nth-child(2) .features__item-number span:last-child {
    font-size: 45px;
    line-height: 52px;
    text-transform: uppercase;
}

.features__list .features__item:nth-child(2) .features__item-number span:last-child sup {
    font-size: 28px;
}

/* popular */

.products__slider {
    margin-bottom: 90px;
}

.popular__products {
    position: relative;
}

.slider-counter {
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.slider__nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 9;
    left: -20px;
    right: -20px;
    top: 212px;
}

.slider__nav .slider__prev,
.slider__nav .slider__next {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.slider__nav .slider__prev:not(.swiper-button-disabled):hover svg path:first-child,
.slider__nav .slider__next:not(.swiper-button-disabled):hover svg path:first-child {
    fill: var(--color-accent-dark);
}

.swiper-button-disabled svg path:first-child {
    fill: #C9C9C9;
    cursor: auto;
}

.products__item {
    background: var(--color-white);
    border: 1px solid #E3E3E3;
}

.products__item-info {
    padding: 37px 16px 19px;
}

.products__item-img {
    position: relative;
}

.products__item-img img {
    max-width: 100%;
    height: auto;
}

.products__item-img:after {
    height: 1px;
    background: linear-gradient(90deg, var(--color-accent),  var(--color-accent-dark));
    left: 25px;
    right: 25px;
    content: '';
    position: absolute;
    bottom: 0;
}

.products__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-accent-dark);
    text-align: center;
    margin-bottom: 34px;
}

.popular__categories {
    display: flex;
    column-gap: 11px;
    flex-wrap: wrap;
}

.products__options {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.products__options-item {
    display: flex;
    gap: 10px;
    font-size: 14px;
    line-height: 25px;
}

.products__options-item.sku {
    font-weight: bold;
}

.products__options-key {
    width: 95px;
}

.products__bottom {
    margin-top: auto;
    display: flex;
    gap: 12px;
    align-items: center;
}

.products__bottom-price {
    width: calc(100% - 139px);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-accent-dark);
}

.products__bottom-button {
    width: 133px;
}

.category__item {
    position: relative;
    width: calc(1/3*100% - (1 - 1/3)*11px);
    padding: 10px 46px 11px 0;
    border-bottom: 1px solid transparent;
    background-image: 
        linear-gradient(#ffffff, #ffffff), 
        linear-gradient(90deg, var(--color-accent),  var(--color-accent-dark));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    gap: 48px;
    align-items: center;
}

.category__item:nth-child(-n+3) {
    border-top: 1px solid transparent;
}

.category__item:before {
    background: url('../images/right_mini.svg') no-repeat center center;
    content: '';
    width: 16px;
    height: 16px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    transition: right 0.3s ease;
}

.category__item:hover:before {
    right: 0;
}

.category__item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration: underline;
}

.category__item:hover .category__item-title {
    text-decoration: none;
}

.category__item-title b {
    font-weight: bold;
}

/* info */

.info__content {
    display: flex;
    align-items: center;
    gap: 30px;
}

.info__main {
    position: relative;
}

.info__main-pic {
    position: relative;
}

.info__main-pic:before {
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    right: -30px;
    border-bottom: 1px dashed var(--color-black);
    height: 1px;
    position: absolute;
    content: '';
    z-index: 8;
}

.info__main-pic img {
    z-index: 9;
    position: relative;
}

.info__main-help {
    width: fit-content;
    position: relative;
    min-width: 304px;
}

.info__main-help .--wrapper {
    padding: 1px;
    background: var(--color-black);
}

.info__main-help .--inner {
    background: var(--color-white);
    padding: 18px 21px 15px 18px;
    display: flex;
    gap: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
}

.info__main-help.top {
    top: -110px;
    left: 4px;
    position: absolute;
}

.info__main-help.bottom {
    bottom: -164px;
    right: 22%;
    position: absolute;
}

.info__main-help.top:after,
.info__main-help.bottom:after {
    height: 100px;
    border-left: 1px dashed var(--color-black);
    width: 1px;
    z-index: 8;
    content: '';
    position: absolute;
}

.info__main-help.top:after {
    top: 100%;
    right: 33px;
}

.info__main-help.bottom:after {
    bottom: 100%;
    right: 0;
}

.materials {
    display: flex;
    flex-direction: column;
    gap: 76px;
    position: relative;
}

.materials__item {
    display: flex;
    gap: 60px;
    align-items: center;
    padding-left: 30px;
    position: relative;
}

.materials__item:before {
    width: 30px;
    height: 1px;
    border-bottom: 1px dashed var(--color-black);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
}

.materials__item:nth-child(2):before {
    display: none;
}

.materials:before {
    top: 91px;
    bottom: 91px;
    left: 0;
    width: 1px;
    border-left: 1px dashed var(--color-black);
    content: '';
    position: absolute;
}

.materials__img {
    overflow: hidden;
    min-width: 182px;
    min-height: 180px;
}

.materials__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.materials__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc(100% - 182px - 30px)
}

.materials__content-title {
    font-size: 24px;
    line-height: 34px;
    font-family: 'Unbounded';
    font-weight: 500;
}

.materials__content-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

/* use */

.use__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.use__item {
    display: flex;
    gap: 10px;
    width: calc(1/5*100% - (1 - 1/5)*10px);
    min-height: 420px;
    flex-direction: column;
    padding: 20px;
    background-size: contain;
}

.use__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--color-white);
    margin-top: auto;
    font-family: 'Unbounded';
    transition: transform 0.3s ease;
}

.use__item:hover .use__item-title {
    transform: translateY(-20px);
}

/* tags */

.tags__list {
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
}

.tags__list a {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: block;
    padding: 11px 34px;
    border: 2px solid transparent;
    border-radius: 50px;
    background-image: 
        linear-gradient(#ffffff, #ffffff), 
        linear-gradient(90deg, var(--color-accent),  var(--color-accent-dark));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    white-space: nowrap;
    text-decoration: none;
}


/* articles__item */

.articles__list .swiper-slide {
    height: auto;
}

.articles__item {
    background: #333333;
    display: flex;
    gap: 20px;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.articles__item-info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 0 20px 20px;
    height: 100%;
    justify-content: space-between;
    gap: 20px;
}

.articles__item-img img {
    max-width: 100%;
    height: auto;
}

.articles__item-date {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #999999;
}

.articles__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-white);
}

.articles__item-button a {
    background-image: 
        linear-gradient(#333333, #333333), 
        linear-gradient(90deg, var(--color-accent),  var(--color-accent-dark));
    color: var(--color-white);
    margin: 0 auto;
}

.seo {
    padding: 56px 52px 0;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
}

/* map */

.offices__content img {
    max-width: 100%;
    height: auto;
}

/* textblock */

.textblock {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 44px;
    align-items: center;
}

.textblock p {
    margin-bottom: 24px;
}

.textblock p:last-child {
    margin-bottom: 0;
}

.textblock__img {
    width: fit-content;
}

/* gallery-advantages */

.gallery-advantages {
    display: flex;
    gap: 68px;
}

.gallery-advantages .gallery-thumb {
    width: 539px;
}

/* advantages */

.gallery-advantages .advantages {
    width: calc(100% - 539px - 34px);
}

.advantages__list {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.advantages__item-title {
    display: flex;
    gap: 44px;
    align-items: center;
    margin-bottom: 23px;
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.advantages__item-title .icon {
    width: 40px;
    display: flex;
    justify-content: center;
}

.advantages__item-text {
    position: relative;
    padding: 0 0 21px 84px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px ;
}

.advantages__item:not(:last-child) .advantages__item-text:before {
    position: absolute;
    left: 17.5px;
    height: 100%;
    width: 1px;
    border-left: 1px dashed var(--color-black);
    content: '';
}

/* advantages-list__items */

.advantages-list__items {
    display: flex;
    column-gap: 30px;
    row-gap: 18px;
    flex-wrap: wrap;
}

.advantages-list__elem {
    width: calc(1/2*100% - (1 - 1/2)*30px);
    display: flex;
    gap: 38px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
}

.advantages-list__elem .icon {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* gallery */

.production__item {
    position: relative;
}

.production__gallery {
    position: relative;
}

.production__gallery .slider__nav {
    top: 50%;
    transform: translateY(-50%);
}

.gallery__pagination {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.slider-pagination {
    position: relative;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #62A8B0;
    border-radius: 8px;
}

.swiper-pagination-progressbar {
    background: #DFEFF1;
    height: 8px;
}

.swiper-pagination-progressbar.swiper-pagination-horizontal {
    height: 14px;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 514px;
}

/* page */

.page h1 {
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 60px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.page__subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
}

/* GALLERY 2 */

.gallery-thumb {
    gap: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.gallery-slider {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.slide-content {
    position: relative;
}

.gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
    border: 1px solid var(--color-accent);
}

.swiper-wrapper {
	align-items: center;
}
	
.gallery-slider .swiper-slide img {
    display: block;
    max-width: 100%;
    height: auto;
}
	 
.gallery-thumbs {
	width: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
}

.gallery-thumbs .swiper-slide {
	aspect-ratio: 1;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
    border: 1px solid var(--color-white);
}

.gallery-thumbs .swiper-slide img {
	width: 100%;
	height: 100%;
    object-fit: cover;
}

.loupe {
    width: 40px;
    height: 40px;
    background-color: var(--color-blue);
    background-image: url('../images/icons/loupe.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    position: absolute;
    bottom: 6px;
    left: 6px;
}